@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur de connection à la base de donnée.";
}

<h1 class="text-danger">Erreur de connection à la base de donnée .</h1>
<p class="text-danger">Pour une certaine raison, la requête n'a pas réussi à être acheminée au serveur.</p>


