@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur la coopérative existe déjà";
}

<h1 class="text-danger">Erreur la coopérative existe déjà .</h1>
<p class="text-danger">La coopérative existe déjà dans le système.Si vous êtes le gestionnaire,
    vous pouvez y avoir accès dans les réglages de votre compte.</p>


