@model WebApplication2.Models.Livres

@{
    ViewBag.Title = "Search";
}

<h2>Votre demande de notification a été enregistrer avec succès</h2>

<p>Vous serez avisé lorsqu'un autre étudiant rajoutera votre livre dans le système. Prendre notre
    qu'il peut s'agir d'un livre provenant d'une autre coopérative que qu'il peut y avoir des frais de transport ratachés.</p>
<div>
    @Html.ActionLink("Retour à la page principal", "Index", "Home", new { }, new { @class = "btn btn-default" })
</div>
