@{
    ViewBag.Title = "Erreur la coopérative existe déjà dans le système";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>La coopérative existe déjà dans le système.Si vous êtes le gestionnaire,
    vous pouvez y avoir accès dans les réglages de votre compte.</p>
